

<!--- This view is displayed when a user tries to access an area they are not allowed to. This replaces the inbuilt Identity page. -->

<div class="alert alert-danger">
    <h1> <strong>You are not authorized to access this page.</strong></h1>

</div>
<a class="btn btn-primary btn-block" asp-action="Index">Return Home</a>




